<template>
  <div id="app">
    <button @click="executeCallSuperman">Call Superman</button>&nbsp;
    <button @click="executeCallSupermanFromDc">Call Superman via another DC method</button>&nbsp;
    <button @click="executeCallSupermanFromMarvel">Call Superman from marvel</button> &nbsp;
    <button @click="executeCallBatman">Call Batman</button>
    <br><br>
    Open console to see output
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import {mapActions} from "vuex";

export default {
  name: 'App',
  components: {
    HelloWorld
  },

  methods: {
    ...mapActions({
      // TODO the following line marks the save methods both in dc and marvel as used. This is due to the "save" alias being the same as the method name. If it were e.g. "executeSave: 'dc/save'" then this would not happen. IMO usage should not be derived from the name of an alias
      save: 'dc/save',

      executeCallSuperman: 'dc/callSuperman',
      executeCallSupermanFromDc: 'dc/callSupermanFromDc',
      executeCallSupermanFromMarvel: 'marvel/callSupermanFromMarvel',
      executeCallBatman: 'dc/callBatman',
    }),
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
